{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col align-self-center">
				<img src="{% static 'img/homepage/Picture1.png' %}" alt="pic">
			</div>
        </div>

        <h1>A History of London Welsh Rugby Footbal Club</h1>
        <h3>The Beginning</h3><br>
        <p>In 1885 at a Fleet Street hotel a group of Welshmen met to discuss the formation of a rugby club for fellow countrymen in exile and with great enthusiasm London Welsh (Clwb Rygbi Cymry Llundain) was established.</p>
        <p>The club’s first game was on October 24th, 1885, against London Scottish, but after nine successful years the Welsh suffered a temporary setback when they were forced, due to various reasons, to disband.</p>

        <img src="{% static 'img/homepage/Picture2.png' %}" alt="pic">
        <p>Left – Jack Williams, Arthur Harding and Hop Maddocks, the leading try scorer in the club’s history. Right – Willie Llewellyn, a magnificent three-quarter and architect of the great revival, who joined the club in 1900.</p>

        <p>However, with the steely determination and fighting spirit that still echoes as the ethos of the club today within a year London Welsh was reborn.</p>

        <p>Yet, they still continued to battle against the prevailing problems that they encountered such as the lack of a permanent home ground and persistent financial difficulties.</p>

        <p>Enter the captain of Wales in 1905, Willie Llewellyn, who was also a student at the Pharmaceutical College in London. Innovative and passionate he proposed that the WRU refuse to cap any Welsh player living in London unless they played for London Welsh.</p>

        <p>The ploy worked with several of the greatest players at the time (Teddy Morgan, Rhys Gabe, Hop Maddocks and Arthur Harding) eagerly attaching themselves to the club. With leading players to watch admiring supporters multiplied at the prestigious Queen’s Club, by now the club’s headquarters.</p>

        <h3>On the move</h3>

        <div class="container">
       		
       		<div class="row">
	        	<div class="col-3"><img src="{% static 'img/homepage/Picture3.png' %}" alt="pic"></div><div class="col-9">

	        		<p>Following their time spent at the Queen's Club the Welsh then played at the County Ground in Leyton and subsequently at the Memorial Ground, West Ham - taking over from West Ham United after they transferred to Upton Park. The following five years, until the outbreak of the First World War, were spent at the Heathfield Ground, Wandsworth, which had been vacated by Harlequins following their move to the new RFU Ground at Twickenham.</p>

	        		<p>After the war ended, the nomadic Welsh moved to Hearne Hill, where they remained until 1957. However, it was the relocation to Old Deer Park, Richmond, which would mark the most prominent years in London Welsh’s proud history.</p>

	        		<p>The club has attracted many phenomenal players since its inception from Willie Llewellyn and his aforementioned contemporaries through to the 1920 and 1930s where electrifying rugby was played by the likes of scrumhalf Wick Powell (1926), Vivian Jenkins (1930), Claude Davey (1935) and Arthur Rees (1935).</p>

	        	</div>
        	</div>
        </div>

        <p>The club has attracted many phenomenal players since its inception from Willie Llewellyn and his aforementioned contemporaries through to the 1920 and 1930s where electrifying rugby was played by the likes of scrumhalf Wick Powell (1926), Vivian Jenkins (1930), Claude Davey (1935) and Arthur Rees (1935).</p>

        <h3>The Golden 70s</h3>
        <div class="container">
	        <div class="row">
		        <div class="col-10"><p>The most renowned rugby in the history of London Welsh, however, was played between 1966 and 1973, and it is this period many remember as the golden years.
				</p><p>During this time Welsh undoubtedly played some of the best rugby ever witnessed with current President John Dawes as captain supported by fellow legends including JPR Williams, Gerald Davies, John Taylor, the late Mervyn Davies, Mike Roberts and Geoff Evans. With such a roll call of stars the Welsh were unrivalled; unveiling their own team of galacticos long before their footballing counterparts were even born.</p></div>
				<div class="col-2"><img src="{% static 'img/homepage/Picture4.png' %}" alt="pic"></div>
			</div>
		</div>

		<p>Former London Welsh, Wales and 1971 British and Irish Lions captain, and now club president, John Dawes OBE.</p>

		<img src="{% static 'img/homepage/Picture5.png' %}" alt="pic">

		<p>The Magnificent Seven – The London Welshmen who helped the British and Irish Lions to victory over New Zealand in 1971. Back row, L-R: Mervyn Davies, John Williams, Mike Roberts, Geoff Evans. Front row, L-R: Gerald Davies, John Dawes, John Taylor.</p>

		<p>The ‘Untouchables’ were unbeatable and their growing reputation was rightly recognised with an amateur era record of seven teammates selected for Carwyn James’ 1971 Lions tour to New Zealand. James himself was a former London Welsh player and his Lions remained true to the free and open playing style developed at Old Deer Park as they ran the All Blacks ragged to win the series 2-1.</p>

		<p>Remarkably at this time the club fielded 14 internationals and the ‘House Full’ sign was a regular occurrence at home games. In 1986 a dinner was held to mark the club’s centenary with the Prince and late Princess of Wales in attendance. The evening gave players and members alike a chance to reflect on the first 100 years of the club.</p>

		<p>Despite the club’s fair share of difficulties since its birth in 1885, Welsh had shown steadfast resoluteness by overcoming constant obstacles and providing its loyal supporters with the most memorable of rugby moments. One such delight coming in 1985 when Welsh faced Bath in the final of the cup at Twickenham.</p>

		<h3>So Near and Yet So Far</h3>

		<div class="col-12"><p>Led by Wales international Clive Rees, and including the likes of Robert Ackerman and Kevin Bowring, that 1985 journey to Twickenham represented the club’s first cup final appearance, and as Welsh approached their centenary year hopes were high that they could finish the season by winning the John Player Special Cup.</p>

		<p>The cup odyssey began with an 18-10 victory over Peter Winterbottom’s Headingley at Kirkstall in the third-round – Mark Douglas’ late try seeing Welsh home – to set up a trip to Beeston to face Nottingham. Nottingham, who included Rob Andrew in their line up, were favourites but Andrew missed nine of his ten kicks at goal and Welsh won 12-11. Douglas claimed Welsh’s solitary try of the match with Colyn Price’s excellent conversion carrying the visitors to victory.</p></div>

		<div class="row">
			<div class="col-10">
				<p>On to the quarter-finals where an interception try from Jeremy Hughes helped the Exiles to a 21-0 win over a spirited Waterloo at Old Deer Park. Coventry, who had knocked out Leicester in the quarters, now stood between Welsh and a Twickenham date. Before a full house at Coventry, Stuart Russell scored the Exiles’ opening try from a driving maul and Matthew Ebsworth went over under the posts for the visitors’ second. Two Coventry penalties, to add to their earlier solitary try, drew the home side level, 10-10, but it was Welsh who advanced to the final courtesy of their superior try-count.</p>

				<p>So in front of 32,000 at Twickenham, London Welsh made its first cup final appearance. They faced a Bath side boasting nine internationals and it was Welsh’s illustrious opponents who led 18-0 at the break. But Welsh fought back in the second half, with Price landing five kicks at goal, and reduced the gap to just six points, only for Bath to make the game safe with two penalties of their own, 24-15. - Alas, no silverware to mark the club’s centenary year.</p>
			</div>

			<div class="col-2"><img src="{% static 'img/homepage/Picture6.png' %}" alt="pic"></div>
		</div>

		<p>Clive Rees in action versus Bath at Twickenham in the 1985 cup final..</p>

		<h3>Lean Years</h3>

		<p>The late 1980’s was a difficult time for the Exiles as brutal economic conditions saw a freeze on the number of top class Welsh players coming to London. It was at this time league rugby was introduced and disastrously for the club it slid ominously into the Fifth Division South.</p>

		<p>But it battled back and a renaissance was occurring due largely to the inspiring Clive Griffiths, Adrian Davies and Martin Jones. With dogged determination Welsh climbed back to the First Division of the National League, striving to take the club back to the top where it belonged.</p>

		<h3>Turmoil and triumphs</h3>

		<p>The club continued in the right direction and at the start of the 2008/09 season it took the momentous decision to turn full-time professional.</p>

		<p>Despite this relatively new professionalism, London Welsh has remained keen to retain the atmosphere of an amateur club with the unbeatable social tradition still to be cherished.</p>

		<p>Despite this relatively new professionalism, London Welsh has remained keen to retain the atmosphere of an amateur club with the unbeatable social tradition still to be cherished.</p>

		<p>Unfortunately, this air of optimism soon turned sour as the club was placed into administration in June 2009. Thankfully, this was short-lived as the following month Welsh were rescued when they were bought from the receivers and allowed to continue in the Championship, albeit with a five-point deduction for that season.</p>

		<p>In January 2010 the club secured control back from Red Dragon Rugby Limited and despite the off field turmoil, head coach Danny Wilson guided the Exiles to the Championship semi-finals, where they lost out to Bristol at the Memorial Stadium.</p>

		<p>The summer of 2010 saw Wilson depart for pastures new with former England hooker and national sevens coach Phil Greening promoted from assistant coach to head coach, with Mike Friday coming on board.</p>

		<p>Sadly the 2010/11 season would end in another Championship semi-final defeat - this time at Mennaye Field to Cornish Pirates - and Greening departed to be replaced by former Ospreys head coach Lyn Jones.</p>

		<p>The Exiles would start the 2011/12 season with victories at Gloucester and relegated Leeds Carnegie. They would twice hit top spot during the course of the season but would have to settle for fourth in the table and a two-legged semi-final with Bedford Blues.</p>

		<p>The Exiles did the hard work on a miserable night at Goldington Road, winning 10-3, but there were nerves aplenty at Old Deer Park as the Blues fought back. Welsh eventually winning 30-27 on aggregate.</p>

		<p>The Pirates awaited in the final but Welsh turned the tables and made amends for the previous year’s semi-final defeat by winning 37-21 at Mennaye Field with a superb display, despite learning just hours before kick-off that the club’s application to join the Aviva Premiership had been rejected by the RFU.</p>

		<p>Despite this, a week later Welsh finished the job at the Kassam Stadium in Oxford with a 29-20 win – a glorious night in the history of London Welsh Rugby Club.</p>

		<img src="{% static 'img/homepage/Picture7.png' %}" alt="pic">

		<p>The Exiles celebrate their 2011/12 Championship success – sealed with a 66-41 aggregate victory over Cornish Pirates in the final.</p>

		<!-- <h3>Premiership Bound</h3>

		<p>The club followed up victory on the pitch with an even more significant one off it, as it won its appeal against the RFU’s decision – London Welsh would after all take its rightful place in the Aviva Premiership for the 2012/13 season.</p> -->


      </div>
{% endblock %}